@font-face {
    font-family: "Flaemische Kanzleischrift";
    src:    url('/preview/shophope/media/schriften/flaemische_kanzleischrift-webfont.eot');
    src:    url('/preview/shophope/media/schriften/flaemische_kanzleischrift-webfont.eot?#iefix') format('embedded-opentype'),
            url('/preview/shophope/media/schriften/flaemische_kanzleischrift-webfont.woff') format('woff'),
            url('/preview/shophope/media/schriften/flaemische_kanzleischrift-webfont.ttf') format('truetype'),
            url('/preview/shophope/media/schriften/flaemische_kanzleischrift-webfont.svg#flaemische_kanzleischriftRg') format('svg');
}

.status {
	width: 100%;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 40px;
	padding-right: 40px;
	background-image: url("/preview/shophope/media/bg3.gif");
	color: #A90329;
	font-size: 16pt;
	font-family: "Lucida Grande", "Lucida Sans Unicode", 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
    text-align: center;
}

.header h1, .header h2, .header p {
    margin-left: 2%;
	margin-bottom: 23px;
	padding-top: 20px;
    padding-right: 2%;
}

.stampheader,
.footer,
.col1,
.col2,
button,
input,
.col2 textarea {
	font-size: 22pt;
	font-family: "Flaemische Kanzleischrift"; src: local("Flaemische Kanzleischrift");
				 "Lucida Grande", "Lucida Sans Unicode", 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
}

body,
button,
input {
	text-shadow: 1px 1px #401D0B;
}

.stampheader {
	padding-bottom: 10px;
	padding-top: 30px;
	padding-left: 28%;
	color: #ff9;
	text-shadow: 4px 4px #401D0B;
	filter: glow(color:#401D0b, strength:4);
	dropshadow(color:#401D0b, offx=3, offy=3);
	font-size: 65pt;
}

.header,
.footer,
.navi a:link,
.navi a:visited {
	background: url('/preview/shophope/media/bg1.gif');
}

.header {
	clear: both;
	position: relative;
	width: 100%;
	height: 145px;
}

.logo1,
.logo2 {
	width: 100px;
	height: 100px;
	position: absolute;
	background: url('/preview/shophope/media/logo_tuerkis_klein.png') no-repeat;
}

.logo1 {
	top: 20px;
	left: 40px;
}
		
.logo2 {
	top: 20px;
	right: 40px;
}

.footer {
	clear: both;
	float: left;
    width: 100%;
	height: 80px;   /* Height of the footer */
	padding-top: 35px;
	padding-bottom: 15px;
    padding-right: 2%;
	color: #ff9;
}

.container1,
.container2,
.col1,
.col2 {
    float: left;
    position: relative;
}

.container1 {
    right: 55%;
    width: 75%;
	min-height: 100%;
    background: url(/preview/shophope/media/bg3.gif);
}

.container2 {
    clear: left;
    width: 100%;
	min-height: 100%;
    overflow: hidden;
	background-image: url(/preview/shophope/media/bg124.gif);
}

.col1,
.col2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.col1 {
    left: 74%;
    width: 21%;
	border-style: none;
}

.col1 tbody {
    
    width: 100%;
	border-style: none;
}

.col2 {
    left: 80%;
    width: 76%;
	color: #ff9;
}


/*
 * CONTENT
 */

.col2 select,
.image a img,
.imageform a img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.image a {
	color: #A90329;
}

.image,
.imageform {
	float: left;
	margin-top: .25em;
	margin-bottom: .25em;
	margin-right: .6em;
}

.image > img,
.imageform > img {
    display: block;
    float: right;
    height: 20px;
    margin-bottom: 4px;
}

.col2 > a > img {
    width: 100%;
}

.col2 form {
    width: 110%;
}

.col2 input[type="submit"] {
	width: 175px;
    position: fixed;
    display: block;
	top: 315px;
	right: 25px;
}

.imageform label,
.imageform textarea,
.imageform select {
    width: 200px;
    max-width: 200px;
}

.imageform select {
	text-align: right;
	padding-left: 10px;
	background: url(/preview/shophope/media/bg3.gif);
}

.imageform label {
    display: block;
    min-height: 2.25em;
}

.imageform textarea {
    width: 188px;
	margin-top: 10px;
    padding-left: 0.2em;
    padding-right: 0.2em;
	color: #A90329;
    font-size: 20px;
	text-align: right;
    font-family: "Lucida Grande", "Lucida Sans Unicode", 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
	background-image: url(/preview/shophope/media/bg3.gif);
}

.col2 button,
.col2 select,
.col2 input[type="checkbox"],
.col2 textarea {
	margin-top: 10px;
}

.col2 button {
    border-width: 1px !important;
}

.col2 form > input[type="submit"] {
    border-width: 1px;
}

.col2 button {
    font-size: 15pt;
    margin-left: 0.25em;
}

.pages {
    clear: both;
    width: 100%;
    text-align: center;
}

.pages .off {
    opacity: .5;
}

.pages a,
.pages a:visited {
	color: #A90329;
}

.pages span {
    margin: .1em;
}

.pages img {
	display: none;
}

.pages .first:hover img,
.pages .prev:hover img,
.pages .next:hover img,
.pages .last:hover img,
.pages .item:hover img {
    position: fixed;
	bottom: 25px;
	right: 225px;
	display: block;
    box-shadow: 10px 10px 5px #000;
    -moz-box-shadow: 10px 10px 5px #000;
    -webkit-box-shadow: 10px 10px 5px #000;
}

figure {
    clear: both;
    overflow: hidden;
    position: relative;
}

figure:hover figcaption {
    clear: both;
    bottom: 0px;
}

figcaption {
    position: absolute;
    display: block;
    width: 180px;
    left: 10px;
    bottom: -100%;
    border-radius: 7px 7px 0px 0px;
    padding-top: .25em;
    text-align: center;
    color: #ff9;
	background: #A90329;
    opacity: .8;
    transition: top 1s;
}

figcaption label {
    padding-top: .25em;
}

figcaption label {
    font-size: 15pt;
}

a {
	text-decoration: none;
}

/*
 * NAVIGATION
 */

.navi td {
	padding-top: .7em;
}	

.navi h1,
.navi fieldset,
.navi p {
    text-align: center;
	color: #A90329;
	/**border: solid 2pt blue;*/
	}

.col2 h1,
.navi h1,
.navi p,
.navi a,
.navi textarea,
.navi input {
	width: 100%;
	margin-bottom: .7em;
}

.navi a,
.navi a:hover,
.navi textarea,
.navi input,
.col2 input[type="submit"],
.col2 button {
	/**border-bottom: 2px solid #FFF;
	border-top: 1px solid #7C7777;
	border-left: 1px solid #7C7777;
	border-right: 2px solid #FFF;*/
}

input,
textarea,
select,
button,
.navi a {
	-moz-border-radius:7px; /* Firefox */
	-webkit-border-radius:7px; /* Safari, Chrome */
	-khtml-border-radius:7px; /* Konqueror */
	border-radius:7px; /* CSS3 */
	behavior:url(border-radius.htc); /*aktiviert ie*/
}

.navi input[type="text"],
.navi input[type="password"],
.navi textarea,
.navi a:active,
.navi a:hover {
	background-image: url(/preview/shophope/media/bg124.gif);
}

.navi input[type="text"],
.navi input[type="password"] {
    height: 2em;
    text-align: center;
	color: #A90329;
    font-size: 15pt;
    font-family: "sans-serif";
	border-bottom: 4px solid #FFF;
	border-top: 2px solid #7C7777;
	border-left: 2px solid #7C7777;
	border-right: 4px solid #FFF;
	background-image: url(/preview/shophope/media/bg124.gif);
}

button,
input[type="submit"] {
    color: #ff9;
	background: url('/preview/shophope/media/bg1.gif');
}

button:hover,
input[type="submit"]:hover {
	color: #A90329;
	background: url('/preview/shophope/media/bg124.gif');
}

.navi a {
	display: block;
    height: 1.25em;
	padding-top: 5pt;
	color: #ff9;
	text-align: center;
}

.navi a:hover {
    color: #C90418;
}

.col2 h1,
.navi h1 {
    font-size: 20pt;
}

.navi a.cancel,
.navi input[type="text"] {
    margin-bottom: .3em;
}

.navi {
	min-height: 5em;
    height: 80%;
	padding-left: 0.2em;
    padding-right: 0.2em;
	
}
	
input[type="file"] {
	height: 28px;
	border-style: none !important;
	padding-left: 15px;
	font-size: 12pt;
    font-family: "sans-serif";
}

.originalview label {
    display: inline;
}

h1 img {
    margin-left: .4em;
    margin-right: .4em;
    height: .7em;
}

.original {
    max-width: 50%;
}

.error {
    color: red;
}

.countries {
    clear: both;
    margin-top: .7em;
    margin-bottom: .7em;
	width: 100%;
    font-size: 20pt;
}

.navi .countries a {
	display: block;
	text-align: left;
	width: 100%;
    height: 41px;
	background: url('/preview/shophope/media/bg124.gif'); 
}

.navi .countries a.selected {
	background: url('/preview/shophope/media/bg1.gif'); 
}

.navi .countries div {
    width: 68px;
    float: left;
}

.navi .countries a span {
    line-height: 1.5em;
    white-space: nowrap;
}

.navi .countries a:hover span {
    color: #A90329;
}

.navi .countries img {
    padding-left: 5px;
	height: 35px;
}

.imageform input[name="price[]"] {
	height: 30px;
	text-align: right;
	color: #A90329;
	padding-right: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", 'Verdana', 'Helvetica', 'Arial', 'sans-serif';
	background: url('/preview/shophope/media/bg3.gif');
	width: 185px;
	margin-top: 15px;

}
	
.navi input[type="file"] {
    clear: both;
}

.back {
	position: fixed;
	color: #ff9;
	text-shadow: 1px 1px #401D0B;
	text-align: center;
	border-width: 1px;
	height: 35px;
	width: 175px;
    position: fixed;
    display: block;
	padding-top: 5px;
	top: 325px;
	right: 25px;
	-moz-border-radius:7px; /* Firefox */
	-webkit-border-radius:7px; /* Safari, Chrome */
	-khtml-border-radius:7px; /* Konqueror */
	border-radius:7px; /* CSS3 */
	behavior:url(border-radius.htc); /*aktiviert ie*/
	border-bottom: 2px solid #FFF;
	border-top: 1px solid #7C7777;
	border-left: 1px solid #7C7777;
	border-right: 2px solid #FFF;
	background-image: url("/preview/shophope/media/bg1.gif");
	z-index: 6050;
}

.back:hover{
	background-image: url("/preview/shophope/media/bg124.gif");
}
.col2 h1,
.originalview h1 {
	display: block;
    clear: both;
	font-size: 20pt;
	color: #A90329;
	text-shadow: 1px 1px #401D0B;
	text-align: center;
	width: 175px;
    position: fixed;
	right: 25px;
	padding-top: 5px;
	-moz-border-radius:7px; /* Firefox */
	-webkit-border-radius:7px; /* Safari, Chrome */
	-khtml-border-radius:7px; /* Konqueror */
	border-radius:7px; /* CSS3 */
	behavior:url(border-radius.htc); /*aktiviert ie*/
	border-bottom: 3px solid #FFF;
	border-top: 1px solid #7C7777;
	border-left: 1px solid #7C7777;
	border-right: 3px solid #FFF;
	background-image: url("/preview/shophope/media/bg3.gif");
	z-index: 6000;
}

.col2 h1 {
	top: 195px;
	height: 95px;
}

.imprint h2 {
	color: #FFF99;
	font-size: 26pt;
	text-shadow: 2px 2px #401D0B;
	margin-bottom: .2em;
}
	
.imprint p {
	color: #A90329;
	font-size: 22pt;
	text-shadow: 1px 1px #401D0B;
	margin-bottom: .2em;
}

.originalview h1 {
	top: 175px;
}

.position { 
	display: block;
    clear: both;
	color: #A90329;
	text-shadow: 1px 1px #401D0B;
	text-align: center;
	width: 175px;
	height: 35px;
    position: fixed;
	top: 425px;
	right: 25px;
	padding-top: 5px;
	-moz-border-radius:7px; /* Firefox */
	-webkit-border-radius:7px; /* Safari, Chrome */
	-khtml-border-radius:7px; /* Konqueror */
	border-radius:7px; /* CSS3 */
	behavior:url(border-radius.htc); /*aktiviert ie*/
	border-bottom: 3px solid #FFF;
	border-top: 1px solid #7C7777;
	border-left: 1px solid #7C7777;
	border-right: 3px solid #FFF;
	background-image: url("/preview/shophope/media/bg3.gif");
	z-index: 6000;
}

.items {
	display: block;
    clear: both;
	text-shadow: 1px 1px #401D0B;
	text-align: center;
	width: 175px;
    position: fixed;
	top: 485px;
	right: 25px;
	padding-top: 5px;
	-moz-border-radius:7px; /* Firefox */
	-webkit-border-radius:7px; /* Safari, Chrome */
	-khtml-border-radius:7px; /* Konqueror */
	border-radius:7px; /* CSS3 */
	behavior:url(border-radius.htc); /*aktiviert ie*/
	border-bottom: 3px solid #FFF;
	border-top: 1px solid #7C7777;
	border-left: 1px solid #7C7777;
	border-right: 3px solid #FFF;
	background-image: url("/preview/shophope/media/bg3.gif");
	z-index: 6000;
}

span.item {
    color: #FFC;
}

a.item {
	color: #A90329;
}
form  > label {
	color: #A90329;
}

.item:after {
	content: " ";
}

.first {
	right: 135px;
	background: url('/preview/shophope/media/first.png') no-repeat;
}

.first:hover{
	background: url('/preview/shophope/media/first_hover.png') no-repeat;
}

.prev {
	right: 105px;
	background: url('/preview/shophope/media/prev.png') no-repeat;
}

.prev:hover {
	background: url('/preview/shophope/media/prev_hover.png') no-repeat;
}

.next {
	right: 55px;
	background: url('/preview/shophope/media/next.png') no-repeat;
}

.next:hover{
	background: url('/preview/shophope/media/next_hover.png') no-repeat;
}

.first,
.prev,
.next,
.last {
	position:fixed;
	width: 55px;
	height: 55px;
	top: 370px;
	display: block;
	background-size: 45px 45px; /**width and height, can be %, px or whatever*/
	z-index: 5000;
}

.last {	
	right: 25px;
	background: url('/preview/shophope/media/last.png') no-repeat;
}

.last:hover{	
	background: url('/preview/shophope/media/last_hover.png') no-repeat;
}

.cart_item img {
    width: 100px;
}
