(date_default_timezone_set "Europe/Berlin")

(= *home-components* '("gallery" "1"))
(= *available-languages* '(en de))

(= *db-user*         "")
(= *db-password*     "")
(= *db-name*         "")
(= *db-host*         "localhost")
(= *db-table-prefix* "")

(= *contact-to*      "pixel@copei.de")
(= *contact-subject* "Your message to Shop Hope Stamps")

(= *gallery-archive-path* "/gallery-images")
(= *gallery-page-size*    12)

(= *thumbnail-width*  200)
(= *thumbnail-height* 240)
